<main class="Background1">
  <div class="TopPage Background2">
    <h1 class="Title Foreground2">Arrange</h1>
    <a routerLink="/login" class="Right"><button class="Button Foreground1 Background1">Log in</button></a>
  </div>

  <div class="Section Background3 HCenter">
    <div class="BannerContainer">
      <img ngSrc="/assets/BannerImage.jpg" alt="Image of a schedule" class="LargeImage Rounded" height="408" width="612"/>
      <div class="BannerText Text Center Foreground2">
        <h1 class="BannerTitle TCenter">Welcome To Arrange</h1>
        <p class="BannerDescription TCenter">Allow us to help you arrange your schedule
          in such a way that you can reach short-term long-term goals, and start to build habits that can allow you to
          succeed.</p>
        <a routerLink="/signup"><button class="Button1 Background2 Foreground2">Register</button></a>
      </div>
    </div>
  </div>

  <div class="Section">
    <div>
      <h1 class="TopText">Does This Look Like You Everyday?</h1>
      <img ngSrc="/assets/FeaturesTopImage.jpeg" class="LargeImage FeatureImage Rounded" height="600" width="600"/>
      <p class="TopFeatureDescription Text TCenter HCenter"> Always making plans but never having the time to execute them or
        always stressing about everything else.</p>
    </div>
  </div>
  <div class="Section">
    <h1 class="TCenter">Our Features</h1>
    <div class="FeatureContainer HCenter TCenter">
      <div class="Feature">
        <img src="/assets/BannerImage.jpg" alt="Image of a schedule" class="XSmallImage"/>
        <p class="XSDescription">Schedule</p>
        <p class="XSDescription">Plan your day beforehand.</p>
      </div>
      <div class="Feature">
        <img src="/assets/BannerImage.jpg" alt="Image of a schedule" class="XSmallImage"/>
        <p class="XSDescription">Goals</p>
        <p class="XSDescription">Allow you to create and monitor goals.</p>
      </div>
      <div class="Feature">
        <img src="/assets/BannerImage.jpg" alt="Image of a schedule" class="XSmallImage"/>
        <p class="XSDescription">Journal</p>
        <p class="XSDescription">Quick access for any notes.</p>
      </div>
      <div class="Feature">
        <img src="/assets/BannerImage.jpg" alt="Image of a schedule" class="XSmallImage"/>
        <p class="XSDescription">AI Support</p>
        <p class="XSDescription">Help answer any questions you have.</p>
      </div>
    </div>
    <p class="FeaturesBottomText Text TCenter HCenter">We are not just content with these features we are
      looking for feedback from our community to help us improve and make more feature.</p>
  </div>

  <div class="Section Background2 Foreground2">
    <div class="JournalContainer">
      <img src="/assets/BannerImage.jpg" alt="an image of someone all over the place" class="LargeImage"/>
      <p class="Text HCenter TCenter">Always having thoughts or need a quick place to write something down while working, allow
        us to do you favor of providing notes that are easily accessible.</p>
      <h1 class="">Never have to worry again</h1>
      <img src="/assets/NotesImage.jpeg" alt="an image of someone all over the place" class="LargeImage"/>
      <p class="Text HCenter TCenter">We will allow for specific notes for a event, or we will allow for general notes for your
        day, month, or even year, this will go along with our notes reminders.</p>
    </div>
  </div>

  <div class="Section Background3">
    <h1 class="Center">Always aspiring to be better, but never having the ability to
      track goals.</h1>
    <img ngSrc="/assets/NotesImage.jpeg" alt="an image of someone all over the place" class="LargeImage HCenter"
         height="700" width="700"/>
    <p class="HCenter">Don't worry our app will allow you track goals over time, and
      input your daily, weekly or monthly progress for long-term and short-term goals.</p>
  </div>
</main>
<app-footer class="Footer"/>
