<main class="footer pt-4 pb-4">
  <div>
    <div class="flex justify-evenly LinksContainer">
      <a routerLink="/"><p>Home</p></a>
      <a routerLink="/help-center/about"><p>About</p></a>
      <a routerLink="/help-center/blog"><p>Blog</p></a>
      <a routerLink="/help-center"><p>Help</p></a>
      <a routerLink="/help-center/privacy-policy"><p>Privacy</p></a>
      <a routerLink="/help-center/terms"><p>Terms</p></a>
      <a routerLink="/help-center/support"><p>Support</p></a>
    </div>
    <div class="flex justify-center">
      <h1 class="mt-2 text-lg">&copy; 2024 Arrange</h1>
    </div>
  </div>
</main>
