* {
  font-family: Roboto;
}

.Navbar {
  height: 60px;
  width: 100vw;
  display: inline-flex;
}

.AppName {
  font-size: 36px;
  font-family: "Brush Script MT";
  margin-left: 12px;
}

.Links {
  display: flex;
}

.Profile-Image {
  object-fit: cover;
  clip-path: circle(30%);
  margin-top: -2px;
}

.Link {
  margin-left: 12px;
  font-size: 18px;
}

.Profile-2 {
  margin-top: -30px;
  margin-bottom: -25px;
}

.Pr-Drop-Down {
  position: absolute;
  top: 70px;
  left: 0;
  width: 350px;
  margin-left: calc(100vw - 350px - 50px);
  z-index: 999;
  border-radius: 25px;
  padding: 20px;
  background: #333333;
  color: #aaaaaa;
}

.container {
  margin: -7px 0 -7px -34px;
  width: 34px;
  height: 34px;
  border-radius: 100px;
}

.bar1, .bar3 {
  height: 2px;
  width: 20px;
  background-color: #aaaaaa;
  margin: 5px auto;
  transition: 0.2s;
}

.container .bar1 {
  transform: translate(0, calc(7px/2)) rotate(-45deg);
}
.container .bar3 {
  transform: translate(0, calc(-7px/2)) rotate(45deg);
}

.container:hover {
  background: #505050;
}

.SignOutButton {
  display: flex;
  margin-top: 12px;
  padding: 6px 0;
  width: 100%;
  border: 1px solid #757575;
  border-radius: 50px;
  justify-content: center;
}

.Options {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.PolicyLinks {
  margin-top: 12px;
  font-size: 14px;

}

@media (max-width: 599px) {
  .Link {
    display: none;
  }

  .Pr-Drop-Down {
    width: 100vw;
    height: calc(100vh - 75px);
    margin: 0;
    border-radius: 0;
    top: 75px;
  }
}
